* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  height: 100%;
  overflow: auto;
  background-color: #95cce4;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.main-title {
  font-size: 50px;
  padding-bottom: 10px;
}

.scoreboard {
  display: flex;
  gap: 50px;
  font-size: 20px;
}

.current-score {
  display: inline-block;
}

.high-score {
  display: inline-block;
}

.card-container {
  width: 100%;
  display: grid;
  padding: 15px 20px;
  margin-top: 15px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  gap: 25px;
}

.card {
  text-align: center;
  cursor: pointer;
  font-size: 28px;
  padding: 15px;
  border-radius: 5px;
  font-weight: 800;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  max-height: 100%;
}

figcaption {
  margin-top: 15px;
}